@if (Model.drinks != null)
{
    <div class="row">

        @foreach (var coctel in Model.drinks)
        {
            <div class="col-6">

                @coctel.strDrink
            </div>
            <div class="col-6">
                <button class="btn btn-link" onclick="getDetalle(@coctel.idDrink)">Ver detalle</button>
            </div>

        }
    </div>
}
else
{
    <label class="alert-danger">No se encontraron resultados</label>
}