@{
    ViewData["Title"] = "Privacy Policy";
}

<h3 class="text-center">Lista de favoritos</h3>
    <div class="row text-center mt-4" id="favoritos">

    </div>
 
<script>
    $(document).ready(function () {
        PaintFavorites();
    });

</script>
