@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cocteles Actinver</h1>
    <div class="col-12">
        <label for="busqueda">Buscar Coctel</label>
        <input class="form-control" type="text" id="parametroBusqueda" placeholder="Presione enter para buscar..." />
    </div>
    <div class="col-md-12 mt-4" id="busqueda">

    </div>


</div>
<div id="divModalDetail"></div>
<script src="~/js/site.js"></script>